@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: TeutonNormal;
//   src: url("/fonts/TeutonNormal.otf") format("opentype");
// }

body {
  background: $main-bg;
  // font-family: 'TeutonNormal';
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-size: 14px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  position: absolute !important;
  color: transparent !important;
}