/* backgrounds */
$main-bg: #5E3B99;
$chat-app-bg: #F2F2F2;
$users-list-bg: #232A32;
$message-dark-bg: #544CA1;
$message-light-bg: #F8F8F8;
$button-bg: #524DA1;

$font-light: #F2F2F2;
$font-darker: #a3a3a3;
$font-dark: #000;

$darkred: #b30919;
$lightgreen: #39b54a;

$inner-padding: 15px;