@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: TeutonNormal;
//   src: url("/fonts/TeutonNormal.otf") format("opentype");
// }

body {
  background: $main-bg;
  // font-family: 'TeutonNormal';
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-size: 14px;
}

li {
  list-style: none;
}

.chat-app {
  width: 960px;
  margin: 20px auto;
  border-radius: 12px;
  background: $chat-app-bg;
  overflow: hidden;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .3);
  display: flex;

  .col-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.user-name {
  font-size: 15px;
  color: $font-light;
}

.char-name {
  font-size: 12px;
  color: $font-darker;
}

.recent-messages {
  max-height: 450px;
  overflow: auto;
  flex: 1;
  padding: $inner-padding;  

  .user-name {
    font-size: 14px;
    color: $font-dark;
  }
  .shout {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid $font-dark;
    &:first-of-type {
      border: 0;
    }
  }
  .shout-container {
    padding: 5px 0;
  }
}

$textarea-radius: 6px;
.write-message {
  height: 120px;
  padding: $inner-padding;
  background: #fff;
  textarea{
    width: 100%;
    height: 26px;
    padding: 4px 6px;
    resize: none;
    border-right: 0;
    border-top-left-radius: $textarea-radius;
    border-bottom-left-radius: $textarea-radius;
  }
  .textarea-container {
    display: flex;
  }  
  button {
    color: $font-darker;
    background: #fff;
    border: 1px solid $font-darker;
    border-right: 0;
    border-left: 0;
    padding: 0 15px;
    cursor: pointer;
    transition: .1s;
    &:last-of-type {
      border-top-right-radius: $textarea-radius;
      border-bottom-right-radius: $textarea-radius;
      border-left: 1px solid $font-darker;      
      border-right: 1px solid $font-darker;      
    }
    &:hover {
      color: #fff;
    }
  }
  .reset:hover {
    background: $darkred;
  }
  .restore:hover {
    background: $lightgreen;
  }
  .submit {
    padding: 0 25px;
    &:hover {
      background: $main-bg;
    }
  }
}

.users-list {
  height: 100%;
  background: $users-list-bg;
  .user {
    height: 80px;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1px solid $font-light;
    &:last-of-type {
      border: 0;
    }
  }
  .image-holder {
    width: 90px;
  }
  .user-container {
    padding: $inner-padding; 
  }
}

.dice-picker {
  .dice-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .dice-container {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
    border-right: 1px solid $font-darker;
    &:last-of-type {
      padding-right: 0;
      border: 0
    }
  }
  .dice {
    height: 45px;
    width: auto;
    cursor: pointer;
  }
  .counter-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 17px;
  }
  .counter-buttons i {
    cursor: pointer;
  }
  .counter {
    width: 20px;
    font-size: 27px;
    text-align: center;
    pointer-events: none;
    border:0;
    border-bottom: 1px solid $font-darker;
  }
  .counter-container {
    height: 100%;
  }
  .fa-plus-circle {
    color: $lightgreen;
  }
  .fa-minus-circle {
    color: $darkred;
  }
}

.results-list {
  display: flex;
}

.results-item {
  &.success { order: 1 }
  &.failure { order: 2 }
  &.advantage { order: 3 }
  &.threat { order: 4 }
  &.triumph { order: 5 }
  &.despair { order: 6 }
  &.light { order: 7 }
  &.dark { order: 8 }
}

.results-symbol {
  width: 30px;
  height: auto;
}