@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: TeutonNormal;
//   src: url("/fonts/TeutonNormal.otf") format("opentype");
// }

body {
  background: $main-bg;
  // font-family: 'TeutonNormal';
  font-family: 'Roboto Mono', 'Courier', monospace;
  font-size: 14px;
}

li {
  list-style: none;
}

.chat-app {
  width: 960px;
  margin: 20px auto;
  border-radius: 12px;
  background: $chat-app-bg;
  overflow: hidden;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .3);
  display: flex;

  .col-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.user-name {
  font-size: 15px;
  color: $font-light;
}

.char-name {
  font-size: 12px;
  color: $font-darker;
}

.recent-messages {
  flex: 1;
  padding: $inner-padding;  

  .user-name {
    font-size: 14px;
    color: $font-dark;
  }
  .shout {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid $font-dark;
    &:first-of-type {
      border: 0;
    }
  }
  .shout-container {
    padding: 5px 0;
  }
}

.write-message {
  height: 120px;
  padding: $inner-padding;  
}

.users-list {
  height: 100%;
  background: $users-list-bg;
  .user {
    height: 80px;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1px solid $font-light;
    &:last-of-type {
      border: 0;
    }
  }
  .image-holder {
    width: 90px;
  }
  .user-container {
    padding: $inner-padding; 
  }
}

.dice-picker {
  background: $users-list-bg;
  .dice-list {
    padding-left: 10px;
  }
  .dice-container {
    display: inline-flex;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .dice {
    height: 45px;
    width: auto;
    cursor: pointer;
  }

  .counter {
    height: 35px;
    width: 20px;
  }
  .fa-plus-circle {
    color: green;
  }
}